@model List<ConsultorioMedico.Models.Especialidad>;
@{
    ViewData["Title"] = "AgregarMedico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" style="width:400px"></div>
    <div class="card h-100" style="width:600px">
        <div class="card" style="top:10px">
            <img src="https://osperyh.org.ar/wp-content/uploads/2023/12/turnos-medicos.jpg" style="object-fit: cover; width: 100%; height: 200px;" alt="Error" />
        </div>
        <div class="card-body">
            <form asp-controller="AdminMedicos" asp-action="AgregarMedico" method="post">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <label class="form-label">Nombre</label>
                        <input name="Nombre" style="width:150px" class="form-control" value="" required />
                    </div>

                    <div class="col">
                        <label class="form-label">Apellido</label>
                        <input name="Apellido" style="width:150px" class="form-control" value="" required />
                    </div>

                    <div class="col">
                        <label class="form-label">Contacto</label>
                        <input name="Contacto" style="width:150px" class="form-control" value="" required />
                    </div>

                    <div class="col">
                        <label class="form-label">Email</label>
                        <input name="Email" style="width:180px" class="form-control" value="" required />
                    </div>

                    <div class="col">
                        <label class="form-label">Clave</label>
                        <input name="Clave" style="width:130px" class="form-control" value="" required />
                    </div>
                    <br />
                    <div class="col">
                        <label class="form-label">Especialidad</label>

                        <input name="IdEspecialidad" type="hidden" id="InputEspecialidad" class="form-control" value="" />

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width:180px">
                               Especialidad
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="desplegable">

                                @foreach (var item in Model)
                                {
                                    <li class="dropdown-item" onclick="CambiarEspecialidad('@item.Id','@item.Nombre')">@item.Nombre</li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                </div>
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a class="btn btn-danger" asp-controller="AdminMedicos" asp-action="Index">Cancelar</a>
            </form>
        </div>
        <script src="~/js/MisScripts.js"></script>
    </div>
</div>

