@model ConsultorioMedico.Models.UsuarioARegistrar;
@{
    ViewData["Title"] = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />

<div class="row row-cols-1 row-cols-md-3 g-4" style=" display:flex; justify-content:center; align-items:center"> 
    <div class="card h-100" style="width:600px">
        <div class="card" style="top:10px;background:#b4c5e4; height:90px; display:flex;justify-content:center;align-items:center">
            <label style="font-size:50px; color:aliceblue">Registrarse</label>
        </div>
        <div class="card-body">
            <form asp-controller="Home" asp-action="Registrarse" method="post">
                <div class="mb-3">
                    <label class="form-label" >Nombre</label>
                    <input class="form-control" asp-for="Nombre" required />
                </div>
                <div class="mb-3">
                    <label class="form-label" >Apellido</label>
                    <input class="form-control" asp-for="Apellido" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">DNI</label>
                    <input class="form-control" asp-for="DNI"  />
                </div>
                <div class="mb-3">
                    <label class="form-label" >Correo</label>
                    <input class="form-control" asp-for="Correo" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input class="form-control" asp-for="Clave"  />
                </div>
                <button type="submit" class="btn btn-primary">Aceptar</button>
                @if(ViewData["Mensaje"] != null)
                {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"];
                </div>    
                }
                <br />
                <br />
                Ya tienes cuenta? <a asp-controller="Home" asp-action="Login" >Iniciar Sesion</a>
               
            </form>
        </div>
    </div>
</div>

